* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #d6d6d6d0;
}

ul {
    list-style: none;
    font-weight: 600;
}

a {
    text-decoration: none;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    /*border-bottom: 1px solid #d6d6d6d0;*/
    box-shadow: 1px 1px 10px 1px #d6d6d6d0;
    border-bottom: ;
}

header img{
    max-width: 50px;
}

header ul{
    display: flex;
}

header ul li{
    padding: 5px;
    font-weight: 200;
    font-size: larger;
}

body{
    background: url(./bckg.jpg) no-repeat center center fixed;
    background-size: cover;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
    font-weight: 600;
    padding: 0 20px;
    color: #F1E0AC;
}

.container .name h5{
    font-size: 25px;
    font-weight: 500;
}

#about{
    max-width: 600px;
    margin: 0 auto;
    font-weight: 300;
}

.flex{
    display: flex;
    padding: 30px;
}

.flex div{
    border: 1px solid #4d5761d0;
    margin: 15px;
    flex-basis: 100%;
    background-color: #eeedde94;
}

.flex img{
    max-width: 400px;
}

#campoEmail{
    color: #273a4d;
}

.form{
    width: 40%;
    margin: 0 auto;
}

.form input{
    width: 50%;
}

form button {
    width: 80px;
    padding: 10px;
    background-color: #30475E;
    border-radius: 8px;
}